:root {
	--md-primary-fg-color: #7289DA;
	--md-accent-fg-color: #687ec5;

	--md-primary-fg-color--dark: #7289DA;
	--md-accent-fg-color--dark: #687ec5;
}

.twitter {
	color: #1DA1F2;
}
.discord {
	color: #7289DA;
}
.md-announce a,
.md-announce a:hover {
	color: white;
}

.added {
	color: #62f5a9;
}
.changed {
	color: #f3d448;
}
.deprecated {
	color: #fab163;
}
.removed {
	color: #fc7070;
}
.fixed {
	color: #6168f7;
}