{% extends "base.html" %}

{% block head_imports %}
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='styles/archive.css') }}">
{% endblock %}

{% block head_title %}
    <title>Archive #{{ id }}</title>
{% endblock %}

{% block body_content %}
    <script src="{{ url_for(endpoint='static', filename='scripts/download.js') }}"></script>

    {% if found %}
        <h2 class="archive-title">Archive #{{ id }}</h2>
        <a class="archive-download" id="download-button" href="" download="{{ key }}.txt">
            <i class="fas fa-download"></i>
        </a>
        <p class="archive-timestamp">Created by {{ author_id }} at {{ created_at }}</p>
        <hr>

        <div class="archive-entries">
            {% for message in messages %}
                <div class="archive-entry">
                    <span class="archive-username">{{ message.name }}</span>
                    <span class="archive-timestamp">{{ message.created_at(fancy=True) }}</span>
                    <p class="archive-content">{{ message.content }}</p>
                    
                    {% if message.attachment != "" %}
                        <a href="{{ message.attachment }}">
                            <img class="archive-attachment" src="{{ message.attachment }}">
                        </a>
                    {% endif %}

                    {% if message.embed %}
                        {% if message.embed.type == "rich" %}
                            <div class="archive-embed" style="border-left-color: {{ message.embed.color }};">
                                <!-- Embed author -->
                                <div class="embed-top">
                                    <!-- Embed thumbnail -->
                                    {% if message.embed.thumbnail %}
                                        <a href="{{ message.embed.thumbnail.url }}">
                                            <img class="embed-thumbnail" src="{{ message.embed.thumbnail.url }}">
                                        </a>
                                    {% endif %}

                                    {% if message.embed.author %}
                                        <div class="embed-author">
                                            {% if message.embed.author.icon_url %}
                                                <img class="author-icon" src="{{ message.embed.author.icon_url }}">
                                            {% endif %}

                                            {% if message.embed.author.name %}
                                                {% if message.embed.author.url %}
                                                    <a class="author-name author-url" href="{{ message.embed.author.url }}">{{ message.embed.author.name }}</a>
                                                {% else %}
                                                    <span class="author-name">{{ message.embed.author.name }}</span>
                                                {% endif %}

                                            {% elif message.embed.author.url %}
                                                <a class="author-url" href="{{ message.embed.author.url }}">{{ message.embed.author.url }}</a>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    <!-- Embed title and description -->
                                    {% if message.embed.title %}
                                        <div class="embed-title">
                                            {{ message.embed.title }}
                                        </div>
                                    {% endif %}

                                    {% if message.embed.description %}
                                        <div class="embed-description">
                                            {{ message.embed.description }}
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- Prevent formatting issues -->
                                {% if not message.embed.fields and message.embed.image %}
                                    <div class="embed-field"></div>
                                {% endif %}

                                <!-- Embed fields -->
                                {% if message.embed.fields %}
                                    {% for field in message.embed.fields %}
                                        <div class="embed-field">
                                            <div class="field-name">{{ field.name }}</div>
                                            <div class="field-value">{{ field.value }}</div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <!-- Embed image -->
                                {% if message.embed.image %}
                                    <a href="{{ message.embed.image.url }}">
                                        <img class="embed-image" src="{{ message.embed.image.url }}">
                                    </a>
                                {% endif %}

                                <!-- Embed footer -->
                                {% if message.embed.footer %}
                                    <div class="embed-footer">
                                        {% if message.embed.footer.icon_url %}
                                            <img class="footer-icon" src="{{ message.embed.footer.icon_url }}">
                                        {% endif %}

                                        {% if message.embed.footer.text %}
                                            <span class="footer-text">
                                                {{ message.embed.footer.text }}

                                                {% if message.embed.timestamp %}
                                                    <span class="footer-text-separator">•</span>
                                                    {{ message.embed.timestamp }}
                                                {% endif %}
                                            </span>

                                        {% elif message.embed.timestamp %}
                                            <span class="footer-text">{{ message.embed.timestamp }}</span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <br>

            {% endfor %}
        </div>

        <label style="display: none;" id="raw-text">{{ download_text }}</label>
    
    {% else %}
        <h2 class="archive-title">Archive not found</h2>
        <p class="archive-timestamp">No archive was found with the key: {{ key }}</p>
    {% endif %}
{% endblock %}